{% extends "layout.html" %}

{% block content %}
    <form action="" method="get" novalidate>
        <div>
            {{form.search_query(placeholder="Search")}}
        </div>
    </form>

    {% if artist %}
        {% if artist.performances %}
            <h1>
                Search results for {{ artist.name }}:
            </h1>
                <ul>
                {% for performance in artist.performances %}    
                    <li>
                        <a href="{{performance.event_link}}">{{ performance.__str__() }}</a>
                    </li>
                {% endfor %}
                </ul>
        {% else %}
            <p>
                There were no search results for <em> {{ artist.name }} </em>.
            </p>
        {% endif %}
    {% endif %}
{% endblock %}